{% extends "layout/basic.html" %}

{% block title %} {{ current_rubric.name }} {% endblock %}

{% block content %}
<h2>Рубрика: {{ current_rubric.name }} </h2>
{% for bb in bbs %}
<div>
    <hr>
    <h2><a style=" text-decoration: none;" href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a> </h2>
    <p>{{ bb.content }}</p>
    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    <p><a style=" text-decoration: none;" href="{% url 'edit' pk=bb.pk %}">{{ 'Изменить' }}</a> |
    <a style=" text-decoration: none;" href="{% url 'edit' pk=bb.pk %}">{{ 'Удалить' }}</a></p>
</div>
{% endfor %}
{% endblock %}

